@page
@model StudentHomePageModel
@{
    ViewData["Title"] = "Student Home Page";
}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>
    /* Style for the fyp information container */
    .centering-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
        padding: 20px;
    }

    html, body {
        height: 100%;
        margin: 0; /* Removes default margin */
        overflow-y: auto; /* Ensures the page is scrollable vertically */
    }
    .fyp-info {
        width: 600px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
        margin-bottom: 20px;
    }

    /* Style for the headings */
    h1, h2 {
        text-align: center;
        color: #333;
    }
   
    .container {
        text-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        padding: 10px;
        border: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    button {
        padding: 8px 16px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
    }

    .approve-button {
        background-color: lightgreen;
        color: white;
    }

    .reject-button {
        background-color: lightcoral;
        color: white;
    }

    .supervisors{
        border-radius: 5px;
        border: 1px solid #CCCCCC;
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
</style>

<div class="container">
    @if (Model.Student != null)
    {
        <h2>Welcome @Model.Student.Name!</h2>
        <br />
    }
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="studentTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="student-personal-tab" data-bs-toggle="tab" href="#student-personal" role="tab" aria-controls="student-personal" aria-selected="true">Personal Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="fyp-tab" data-bs-toggle="tab" href="#fyp" role="tab" aria-controls="fyp" aria-selected="false">FYP Details</a>
        </li>
        @if (Model.Student.FYP_Name == null)
        {
            <li class="nav-item">
                <a class="nav-link" id="fyp-proposal-tab" data-bs-toggle="tab" href="#fyp-proposal" role="tab" aria-controls="fyp-proposal" aria-selected="false">FYP Proposal</a>
            </li>
        }
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="student-personal" role="tabpanel" aria-labelledby="student-personal-tab">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Name:</th>
                        <td>@Model.Student.Name</td>
                    </tr>
                    <tr>
                        <th>Batch:</th>
                        <td>@Model.Student.Batch</td>
                    </tr>
                    <tr>
                        <th>Department:</th>
                        <td>@Model.Student.Department</td>
                    </tr>
                    <tr>
                        <th>CGPA:</th>
                        <td>@Model.Student.CGPA</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="tab-pane fade" id="fyp" role="tabpanel" aria-labelledby="fyp-tab">
            @if (Model.Student.FYP_Name != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>FYP Name</th>
                            <th>Supervisor Name</th>
                            <th>Details</th>
                            <th>Domain</th>
                            <th>Group Members</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @{
                                    if(Model.FYP.Status == "Approved")
                                    {
                                        <a asp-page="/FypIterations" asp-route-name="@Model.FYP.FYP_Name" asp-route-id="@Model.Student.Email" asp-route-role="ST">@Model.FYP.FYP_Name</a>
                                    }
                                    else
                                    {
                                        @Model.FYP.FYP_Name;
                                    }
                                }
                            </td>
                            <td>@Model.FYP.Supervisor</td>
                            <td>@Model.FYP.Details</td>
                            <td>@Model.FYP.Domain</td>
                            <td style="width:200px">
                                <ul>
                                    @foreach (var student in Model.FYP.GroupMemberNames)
                                    {
                                        <li>@student</li>
                                    }
                                </ul>
                            </td>
                            <td>@Model.FYP.Status</td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <p>No FYP Registered Yet!</p>
            }
        </div>
        @if (Model.Student.FYP_Name == null)
        {
            <div class="tab-pane fade" id="fyp-proposal" role="tabpanel" aria-labelledby="fyp-proposal-tab">
                <div class="centering-container">
                    <div class="fyp-info">
                        <form method="post" enctype="multipart/form-data">
                            <input type="hidden" name="Email" value="@Model.Student.Email" />
                            <div class="form-group">
                                <label for="title">FYP Name</label>
                                <input type="text" class="form-control" placeholder="FYP Name" name="fypName" required>
                            </div>
                            <div class="form-group">
                                <label for="domain">Domain:</label>
                                <input type="text" class="form-control" placeholder="Domain" name="domain" required>
                            </div>
                            <div class="form-group">
                                <label for="group_member">Group Members:</label>
                                <input type="email" class="form-control" placeholder="Member 2 Email" name="memberEmails" required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Member 3 Email" name="memberEmails">
                                <small style="color: red">* Enter up to 2 group members' emails!<br />
                                                            * Each member should already be signed up!
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="supervisor">Supervisor</label>
                                <select name="supervisorEmail" class="supervisors" id="supervisorSelect" required>
                                    <option value="">Select a Supervisor</option>
                                    @foreach (var supervisor in Model.Supervisor)
                                    {
                                        <option value="@supervisor.Email">@supervisor.Role @supervisor.Name (@supervisor.Domain)</option>
                                    }
                                </select>
                                <small style="color: red">* Please select the supervisor preferably whose domain aligns with your project</small>
                            </div>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control" name="details" rows="5" required></textarea>
                            </div>
                            <!-- File input for document upload -->
                            <div class="form-group">
                                <label for="file-upload" class="btn btn-secondary">Attach Document</label>
                                <input type="file" id="file-upload" name="postedFiles" accept=".pdf" required style="display: none;" onchange="document.getElementById('selectedFileName').value = this.files[0].name" />
                                <input type="text" id="selectedFileName" placeholder="No file chosen" class="form-control" readonly />
                            </div>
                            <button type="submit" class="btn btn-primary">Submit Proposal</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Bootstrap's tab JavaScript plugin initialization
            $('#studentTabs a').on('click', function (e) {
                e.preventDefault()
                $(this).tab('show')
            });

            // Activate the first tab by default
            $('#studentTabs a:first').tab('show');
        });
    </script>
}
